<div class="background grey lighten-2">
<nav>
  <div class="nav-wrapper light-blue darken-2">
    <a href="/" class="brand-logo waves-effect waves-light">Robo-Manager</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a href="/">Dashboard</a></li>
      <li><a class="waves-effect waves-light" href="/robots">Robot Index</a></li>
      <li><a class="waves-effect waves-light" href="/robots/new">Hire a Robot</a></li>
    </ul>
  </div>
</nav>
<div id="greeting" class="flow-text center-align">
  <h1>Welcome to Robo-Manager!</h1>
    <ul>
      <li><a class="waves-effect waves-light btn light-blue darken-3" href="/robots">Robot Index</a></li>
      <br/>
      <li><a class="waves-effect waves-light btn light-blue darken-4" href="/robots/new">Hire a Robot!</a></li>
    </ul>
</div>
<div class="center-align">
  <h5>Robot Statistics:</h5>
      <div class="card light-blue darken-2">
        <div class="card-content white-text">
          <span class="card-title">Average Robot Age</span>
          <p><%= @age %> years young</p>
        </div>
      </div>
      <div class="card light-blue darken-2">
        <div class="card-content white-text">
          <span class="card-title">Robots Hired By Year</span>
          <table class="highlight centered responsive-table" id="robot_year_table">
                <thead>
                  <tr>
                      <th data-field="Year" class="col s6">Year</th>
                      <th data-field="RobotsHired" class="col s6">Robots Hired</th>
                  </tr>
                </thead>
            <tbody>
              <% years = {} %>
              <% @robots.each do |robot| %>
                <% years[robot.date_hired[-4..-1]] += 1 unless years[robot.date_hired[-4..-1]].nil?%>
                <% years[robot.date_hired[-4..-1]] = 1 if years[robot.date_hired[-4..-1]].nil? %>
              <% end %>
              <% years.each do |k, v| %>
                <tr>
                <td><%= k %></td>
                <td><%= v %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
