<div class="background grey lighten-2">
<nav>
  <div class="nav-wrapper light-blue darken-2">
    <a href="#" class="brand-logo">Robo-Manager</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a href="/">Dashboard</a></li>
      <li><a href="/robots">Robot Index</a></li>
      <li><a href="/robots/new">Hire a Robot</a></li>
    </ul>
  </div>
</nav>
<div class="flow-text center-align">
  <h1>Welcome to Robo-Manager!</h1>
    <ul>
      <li><a class="waves-effect waves-light btn light-blue darken-3" href="/robots">Robot Index</a></li>
      <br/>
      <li><a class="waves-effect waves-light btn light-blue darken-4" href="/robots/new">Hire a Robot!</a></li>
    </ul>
  <!-- <h2>Currently employed Robot statistics:</h2>
  <h3>Average Robot hiring year:</h3> -->

</div>
