<h1>All Robots</h1>

<% @robots.each do |robot| %>
  <h3><%= robot.id %>: <a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
  <h4><a href="/robots/<%= robot.id %>/edit">Edit Robot</a></h4>
<% end %>
