<!DOCTYPE html>
  <html lang="en">
    <head>
      <link rel="stylesheet" href="/css/materialize.min.css">
        <title>My Sinatra Application</title>
    </head>
    <body>
        <%= yield %>
        <footer class="footer-copyright light-blue darken-4">
          <div class="container">
            <br/>
                &copy; Greg Armstrong, Turing Student, 2015
              <br/>
            <br/>
          </div>
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script type="text/javascript" src="/js/materialize.min.js"></script>
        </footer>
    </body>
  </html>
