<div class="background grey lighten-2">
<nav>
  <div class="nav-wrapper light-blue darken-2">
    <a href="/" class="brand-logo waves-effect waves-light">Robo-Manager</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light" href="/">Dashboard</a></li>
      <li><a class="waves-effect waves-light" href="/robots">Robot Index</a></li>
      <li class="active"><a href="/robots/new">Hire a Robot</a></li>
    </ul>
  </div>
</nav>

<form action="/robots" method="post">
  <p>Create a new Robot:</p>
  <div class="row">
    <div class="col s12">
      <div class="input-field col s6">
        <input type='text' id="name" name='robot[name]' class="validate"/>
        <label for="name">Name</label>
      </div>
      <div class="input-field col s6">
        <input type='text' id="city" name='robot[city]' class="validate"/>
        <label for="city">City</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="input-field col s6">
        <input type='text' id="state" name='robot[state]' class="validate"/>
        <label for="state">State</label>
      </div>
      <div class="input-field col s6">
        <input type='text' id="birth_date" name='robot[birth_date]' class="validate"/>
        <label for="birth_date">Birth Year (YYYY)</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="input-field col s6">
        <input type='text' id="date_hired" name='robot[date_hired]' class="validate"/>
        <label for="date_hired">Date Hired (DDMMYYYY)</label>
      </div>
      <div class="input-field col s6">
        <input type='text' id="department" name='robot[department]' class="validate"/>
        <label for="department">Department</label>
      </div>
      <div class="center-align">
        <input id="submit_button" type='submit' />
      </div>
    </div>
</form>

</div>
